<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .wrap {
            width: 100%;
            height: 100vh;
            background-color: #f4f4f5;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .wrap form {
            width: 375px;
            padding: 1rem;
            background-color: white;
            box-shadow: -5px 18px 82px -15px rgba(0,0,0,0.75);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        .wrap form label {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 5px;
        }

        .wrap form input {
            padding: 10px 1rem;
            border-radius: 8px;
            background-color: #f4f4f5;
            border: 1px solid #ccc;
            margin-bottom: 1rem;
        }

        .wrap form input[type="submit"] {
            background-color: #818df84b;
            color: #818cf8;
            border: 3px solid #818cf8;
            margin: 0;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
        }

        .wrap form input:focus {
            outline: none;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <form action="/edit/<%= userData.id %>" method="post">
            <label for="username">Username</label>
            <input value="<%= userData.username %>" id="username" name="username" type="text" placeholder="Username">

            <label for="email">Email</label>
            <input value="<%= userData.email %>" id="email" name="email" type="text" placeholder="Email">

            <label for="password">Password</label>
            <input value="<%= userData.password %>" id="password" name="password" type="password" placeholder="Password">

            <input type="submit" value="Update" />
        </form>
    </div>
</body>
</html>